.container{
    width: 100%;
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-areas: 'first second second';
    background-color: #FFFFFF !important;
}
.col_first{
    grid-area: first;
    border-right: 1px solid #1F553E;
}
.col_first, .col_second{ 
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;   
}
.col_second{
    grid-area: second;
    justify-content: center;
}

.app_logo {
    width: 75px;
    height: 100.72px;
    margin-bottom: 10px;
}
.login_card{
    width: 100%;
    padding-right: 2px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.formstyle{
    width: 60%;
} 
.input_item{
    height: 22px;
    background-color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    border: none;
    outline: none;
    padding: 40px  0;
}

.input_item::placeholder { 
    color: #1F553E;
    opacity: 1;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}


.input_item[type=email], .input_item[type=password] {
    width: 100%;
    color: #1F553E;
    padding: 20px  0;
    margin: 20px 0 10px 0;
    border-bottom: 2px solid #1F553E;
}

.input_item[type=email]:focus, .input_item[type=password]:focus {
    width: 100%;
    color: #1F553E;
    padding: 20px  0;
    margin: 20px 0 10px 0;
    border-bottom: 2px solid #1F553E;
}
.ErrorBody{
    height: 20px;
}
.ErrorMessage{
    display: block;
    height: 15px;
    color: red;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 8px;
    padding: 3px;
}
.MainError{
    height: 20px !important;
    font-size: .9rem !important;
    padding: 0px !important;
    line-height: normal !important;
}
.card_heading{ 
    margin: 40px 0 30px 0;
}
.card_heading, .card_2_heading{
    height: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 32px;
    color: #1F553E;
}
.card_2_heading{ 
    margin-bottom: 20px;
}

.card_2_sub_heading{
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 29px;
    color: #1F553E;
    margin-bottom: 20px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 188px;
}
.login_btn{
    width: 188px;
    height: 46px;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 2.4rem;
    text-align: center;
    border-radius: 50px;
    color: #FFFFFF;
    background-color: #1F553E;
    border: none;
    outline: none;
}
.login_btn_disable{
    opacity: 0.6;
}
.login_link{
    background-color: inherit;
}

.illustration{
    width: auto;
    height: 40vmin;
}
