.main{
    margin-top:  5%;
    margin-left: 15%;
    padding-left: 30px;
    padding-right: 30px;
}
.seller_heading{
    width: 221.88px;
    height: 35px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #1F553E;
}

.table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 10px;
}
.c_checkbox{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    color: #1F553E;
    background-color: #1F553E;
}
.tr{
    height: 40px;
    background: #FFFFFF;
    border: 1px solid gray;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}


.c_td{
    font-style: normal;
    text-align: center;
}
.c_td:first-child{
    border: 1px solid gray;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
}

.c_td:nth-child(2),
.c_td:nth-child(3),
.c_td:nth-child(4),
.c_td:nth-child(5){
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.c_td:last-child{
    border: 1px solid gray;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none;
}
.c_td{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #1F553E;
}
.c_box{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
.c_set_div{
    padding: 30px 0px;
}
.c_set_c{
    display: inline-flex;
    flex-direction: row;
    height: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #1F553E;
    padding-left: 80px;
    padding-right: 10px;
}
.input_commission{
    display: inline-block;
    width: 118.87px;
    height: 27px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding-left: 10px;
}
.input_commission:focus{
    outline: none;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding-left: 10px;
}
.save_btn{
    width: 81px;
    height: 27px;
    color: #FFFFFF;
    background: #1F553E;
    border-radius: 50px;
    border: none;
    outline: none;
    margin-left: 10px;
}
.save_btn:active{
    color: #1F553E;
    background: #FFFFFF;
    border: 1px solid #1F553E;
}
.status_seller{
    display: inline-flex;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
}
.c_active{
    width: 86.17px;
    height: 27px;
    background: #26A541;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    padding: 7px 25px;
    color: #FFFFFF;
    border-radius: 50px;
    margin-right: 5px;
}
.c_pending{
    width: 86.17px;
    height: 27px;
    background: #DB860A;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    padding: 7px;
    color: #FFFFFF;
    border-radius: 50px;
    margin-right: 5px;
}