.main_card{
    position: relative;
    width: 100%;
    min-height: 220px;
    border: 1px solid gray;
    border-spacing: 0px 10px;
    border-radius: 10px;
}
.table{
    position: relative;
    width: 70%;
    padding-top: 20px;
    border-collapse: separate; 
    border-spacing: 0px 7px;
    border-radius: 10px;
}
.table.scroller {
    width: 70%;  
}
.table.scroller tbody::-webkit-scrollbar {
    width: 5px;
}

.table.scroller tbody::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.table.scroller tbody::-webkit-scrollbar-thumb {
    background: #888; 
}
.table.scroller tbody, .table.scroller thead {
    display: block;
} 
  
.table.scroller tbody {
    min-height: 150px; 
    height: 150px;
    overflow: auto;
}

.th{
    font-weight: 500;
    line-height: 21px;
    color: #1F553E;
}

.td{ 
    height: 29px;
    background: #DAE6DF;
    font-weight: normal; 
    line-height: 19px;
    color: #1F553E;
}
.th, .td{
    font-style: normal;
    font-size: 16px;
    text-align: center;
}
.th:nth-child(1),.td:nth-child(1),
.th:nth-child(2),.td:nth-child(2),
.th:nth-child(3),.td:nth-child(3),
.th:nth-child(4),.td:nth-child(4),
.th:nth-child(5),.td:nth-child(5),
.th:nth-child(6),.td:nth-child(6),
.th:nth-child(7),.td:nth-child(7){
    width: 10%;
}
.th:first-child,
.td:first-child{
    text-align: left;
}

.tal{
    text-align: left;
    border-left: 20px solid #FFFFFF;
    border-top-left-radius: 40px;  
    border-bottom-right-radius: 10px;
    padding: 20px;
}
.pr{
    padding-right: 5px;
}
.pl {
    padding-left: 5px;
}

.row_p{
    padding: 5px 0px;
}
.box_td{
    width: 263px;
    height: 29px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #1F553E;
    padding: 10px;
}
.box_th{
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #1F553E;
}
.other_details{
    position: absolute;
    right: 0px;
    top: 50px;
    width: 27%;
    min-height: 165px;   
}
.other_heading{
    font-style: normal;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    line-height: 21px;
    color: #1F553E;
    margin-top: -20px;
}
.other_details_container {
    margin-top: 10px;
    background: #DAE6DF;
    padding: 10px 20px;
    border-top-left-radius: 20px;  
    border-bottom-right-radius: 10px;
}

