.main{
    margin-top: 5%;
    margin-left: 15%;
    padding-left: 30px;
    padding-right: 30px;
}
.order_heading{   
    width: 221.88px;
    height: 35px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #1F553E;

}
.order_subheading{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #1F553E;
    padding-left: 10px;
}
.input_item_order{
    display: flex;
    align-items: center;
    align-content: center;
}
.order_checkbox{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    color: #1F553E;
    background-color: #1F553E;
}

#seller{
    margin-left: 30px;
}
.form_checkbox{
    padding-top: 10px;
}
.label{
    font-size: 12px;
    color: #1F553E;
    padding: 2px;
}
.seller_heading{
    width: 221.88px;
    height: 35px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #1F553E;
}

.table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 10px;
}

.tr{
    position: relative;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.th{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #1F553E;
}
.th, .td{
    font-style: normal;
    text-align: center;
}
.th:first-child, .td:first-child{
    border: 1px solid gray;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
}
.th:nth-child(2),
.th:nth-child(3), 
.th:nth-child(4),
.th:nth-child(5),
.th:nth-child(6),
.td:nth-child(2),
.td:nth-child(3),
.td:nth-child(4),
.td:nth-child(5),
.td:nth-child(6){
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.th:last-child, .td:last-child{
    border: 1px solid gray;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none;
}
.td{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #1F553E;
}

.detail_shown{
    width: 100%;
}

.detail_hide{
    display: none;
}

.status_costumer{
    display: inline-flex;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
}
.status_order_btn{
    width: 86.17px;
    height: 27px;
    background: #26A541;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    padding: 7px 25px;
    margin-right: 5px;
    color: #FFFFFF;
    border-radius: 50px;
}  
.money_status{
    padding: 5px;
} 
.seller_filter{
    width: 210px;
    height: 26px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #1F553E;
    padding-left: 80px;
}
.seller_filter_box{
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    padding: 4px 15px;
   
}
.filter_box{
    display: inline-flex;
    justify-content: center;
    color: #1F553E;
    background: #FFFFFF;
    border: 1px solid #1F553E;
    border-radius: 10px;
    margin-left: 10px;
}