.main{
    margin-top: 5%;
    margin-left: 15%;
    padding-left: 30px;
    padding-right: 30px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-items: center;
    padding: 20px 0px ;
}
.card{
    position: relative;
    width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 3px rgba(190, 180, 180, 0.65);
}
.card_item{
    padding-left: 2rem;
    padding-top: 1.5rem;
    padding-right: 2rem;
}
.card_item_order{
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    padding-left: 2rem;
    padding-top: 1.5rem;
    padding-right: 2rem;
}
h2{
    font-size: 1.1rem;
    font-weight: 500;
    color: #1F553E;
}
.card_status{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #1F553E;
    padding-bottom: 0.5rem;
}
.heading{
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-top: 0.5rem;
    font-size: 0.9rem;
    font-weight: 400;
}
.card_order{
    width: 100%!important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.status{
    font-size: 0.9rem;
    font-weight: 500;
}
.view_more_a{
    color: #1F553E;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 400;
    text-decoration: underline;
}
.view_more{
    width: 100%;
    text-align: center;
    border-top: 1px solid gray;
    padding-top: 3px;
    padding-bottom: 3px;
}
.view_more_order{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid gray;
    padding-top: 3px;
    padding-bottom: 3px;
}
.card_messages{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 5px;
}
.message_circle{
    display: flex;
    justify-content: center;
    padding: 3px;
    border-radius: 50%;
    background-color: #1F553E;
}
.card_info{
    padding-left: 5px;
    padding-bottom: 8px;
    width: 100%;
}
.h5{
    color: #1F553E;
    font-weight: 500;
    font-size: 0.8rem;
}
.dashboard_p_date{
    color: gray;
    font-size: 12px;
    line-height: 14px;
}
.pt5{
    padding: 10px 0;
}
.p10{
    padding: 10px;
}
.break_two_card{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card_one{
    width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 3px rgba(190, 180, 180, 0.65);
}
.card_one_item{
    text-align: center;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
}
.heading_item{
    font-size: 0.8rem;
    font-weight: 400;
}
.heading_h5{
    display: inline-block;
    color: #1F553E;
    font-weight: 500;
    font-size: 0.8rem;
}
.box_input{   
    width: 251px;
    height: 22px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding-left: 10px;
}
.box_input:focus{
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding-left: 10px;
}
.save_btn{ 
    padding: 5px; 
    margin: 7px;  
    width: 50%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 50px;
    border: 1px solid #FFFFFF;
    outline: none;
    background-color: #1F553E;
}
.save_btn:active{
    background-color: #FFFFFF;
    color: #1F553E;
    border: 1px solid #1F553E;
}