.main{
    margin-top: 5%;
    margin-left: 15%;
    padding-left: 30px;
    padding-right: 30px;
}
.heading{
    width: 221.88px;
    height: 35px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #1F553E;
}

.table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 10px;
}
.tbody{
    transition: all 8s 2s ease-in-out;
}
.tr{
    height: 40px;
    background: #FFFFFF;
    border: 1px solid gray;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: all 8s 2s ease-in-out;
}

.th{
    height: 19px;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    color: #1F553E;
}
.td{
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #1F553E;
    transition: all 0.8s ease-in-out;
}
.th, .td{
    font-style: normal;
    text-align: center;
}
.th:first-child, .td:first-child{
    border: 1px solid gray;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
}
.th:nth-child(2),
.th:nth-child(3), 
.th:nth-child(4),
.th:nth-child(5),
.td:nth-child(2),
.td:nth-child(3),
.td:nth-child(4),
.td:nth-child(5){
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.th:last-child, .td:last-child{
    border: 1px solid gray;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none;
}


.detail_hide{
    display: none;
}
.status{
    display: inline-flex;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
}
.btn{
    width: 86.17px;
    height: 27px;
    background: #DB860A;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    padding: 7px;
    color: #FFFFFF;
    border-radius: 50px;
    margin-right: 5px;
}
.seller_filter{
    width: 210px;
    height: 26px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #1F553E;
    padding-left: 80px;
}

.filter_box{
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #1F553E;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 0 10px;
    margin-left: 10px;
}

.approve{
    background: #1F553E;
}
