.main{
    margin-top: 68px;
    margin-left: 15%;
    padding-left: 30px;
    padding-right: 30px;
}
.table{
    width: 100%;
    border-collapse: separate;
    border: 1px solid gray;
    border-radius: 10px;
}
.row{
    width: 100%;
}
.row_bg{
    background-color:#DAE6DF;
}
.td{
    border: none;
}
.th, .td{
    font-style: normal;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #1F553E;
}


.td{ 
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #1F553E;
}


.h1{
    height: 13px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    padding: 10px 0px;
    color: #1F553E;
}
.p{    
    height: 67px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #1F553E;
    padding: 20px;
}

.btn{
    width: 167px;
    height: 27px;
    color: #FFFFFF;
    background: #1F553E;
    border-radius: 50px;
    outline: none;
    border: none;
    margin: 5px 20px;
}
.padding{
    padding: 5px;
}
.user_table{
    width: 100%;
    border-collapse: separate;
    padding: 5px 40px;
}
.user_th{
    text-align: left;
    width: 40%;
    height: 13px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 13px;
    color: #1F553E;
    padding: 2px 0px;
}
.user_input{
    width: 200px;
    padding: 3px 5px;
    font-weight: normal;
    font-size: 12px;
    line-height: 13px;
    border: 1px solid #1F553E;
}
.user_input:focus {
    outline: none;
}
.user_button{
    width: 80px;
    height: 20px;
    color:#1F553E;
    background: #FFFFFF;
    border: 1px solid #1F553E;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 5px 0;
    cursor: pointer;
}
.shop_info_table{
    width: 100%;
    border-collapse: separate;
    padding: 5px 40px;
}

.shop_info_th{
    text-align: left;
    height: 13px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 13px;
    color: #1F553E;
    padding: 5px 0px;
}
.shop_info_logo{
    display: flex;
    align-items: center;
}
.shop_info_description{
    display: flex;
    flex-direction: column;
}
.p_style{
    width: 300px;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    padding-left: 5px;
}
.shop_info_description_p{
    width: 200px;
    padding-top: 5px;
    padding-left: 5px;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}
.card_style{
    display: flex;
}
.card{
    display:inline-flex;
    flex-direction: column;
}
.card_style_p{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    padding-left: 5px;
    color: #1F553E;
}
.p_margin{
    margin-bottom: 5px;
}
.shop_info_box{
    display: flex;
    align-items: center;
    align-content: center;
}
.shop_info_td{
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    color: #1F553E;
}
.seller_logo{
    width: 38px;
    height: 38px;
    margin-left: 5px;
    background-color: #FFFFFF;
}
.document_table{
    width: 100%;
    border-collapse: separate;
    padding: 10px 40px;
}

.document_th{
    text-align: left;
    width: 16.33%;
    height: 13px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 13px;
    color: #1F553E;
    padding: 2px;
}

.document_td{
    text-align: left;
    height: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    text-decoration-line: underline;
    color: #1F553E;
    cursor: pointer;
}
.document_preview{
    font-size: 12px;
    cursor: pointer;
}
.document_preview:active{
    color: #DB860A;
}
.document_buttons{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.document_button{
    width: 80px;
    height: 22px;
    color:#1F553E;
    background: #FFFFFF;
    border: 1px solid #1F553E;
    box-sizing: border-box;
    border-radius: 50px;
    margin: 5px;
    cursor: pointer;
}
.user_button:active,.document_button:active{
    background: #1F553E;
    color: #FFFFFF;
}