.main{
    margin-top: 68px;
    margin-left: 15%;
    padding-left: 30px;
    padding-right: 30px;
}
.seller_heading{
    width: 221.88px;
    height: 35px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #1F553E;
}

.inventory_table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 5px;
    border: 1px solid #1F553E;
    border-radius: 10px;
}

.inventory_tr{
    background: #FFFFFF;
}

.inventory_th{
    width: 50%;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #1F553E; 
    padding: 5px 0px; 
}
.inventory_td{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #1F553E;
}
.inventory_th, .inventory_td{
    font-style: normal;
    text-align: left;
}
.td_p{
    padding: 5px;
}
.row_pt{
    padding-top: 15px;
}
.row_ptm{
    padding-top: 10px;
}
.td_pl10{
    padding-left: 10px;
}
.th_pl{
    padding-left: 30px;
}
.th_width{
    width: 30%;
}
.inventory_seo{
    margin-bottom: 30px;
}

.row_div{
    display: flex;
    align-items: center;
}
.row_column_div{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.inventory_th_new{
    width: 40%;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #1F553E; 
    padding-left: 40px; 
}
.input_inventory{
    outline: none;
    border: 1px solid #1F553E;
    padding: 2px 3px;
}
.input_inventory:focus{
    outline: none;
    border: 1px solid #1F553E;
}
.input_keyword{
    display: inline-block;
    height: 25px;
    background: #FFFFFF;
    border-bottom: 1px solid #C4C4C4;;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
}
.input_keyword:focus{
    outline: none;
    border-bottom: 1px solid #C4C4C4;;
}
.input_keyword::placeholder { 
    color: #C4C4C4;
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    text-align: left;
}
.keyword_suggestion_outer{
    display: flex;
}
.keyword_text{
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #1F553E; 
    padding: 5px 0px;  
}
.keyword_suggestion{
    display: inline-flex;
    align-content: center;
    align-items: center;
}
.inventory_img_box{
    width: 74.87px;
    height: 78.86px;
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    background: #FFFFFF;
    border: 1px solid #91AB9C;
    box-sizing: border-box;
    border-radius: 10px;
}
.inventory_image{
    width: 60px;
    height: 40px;
    object-fit: cover;
}
.inventory_edit{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.inventory_video_box{
    width: 74.87px;
    height: 78.86px;
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
    border: 1px solid #91AB9C;
    box-sizing: border-box;
    border-radius: 10px;
}
.inventory_link{
    height: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    padding-top: 3px;
    color: #1F553E;
}
.box_td{
    padding: 5px 2px;
}
.box_outer{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 3px;
}
.box_text{
    color: #C4C4C4;
    width: 80px;
    height: fit-content;
    border: 2px solid #C4C4C4;
    border-radius: 8px;
    text-align: center;
    padding: 3px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.box_text:focus{
    outline: none;
}

.box_outer_text{
    padding: 0px 10px;
    color: #1F553E;
    font-size: medium;
}
.inventory_color{
    display: flex;
    flex-direction: column;
}
.inventory_colors, .inventory_boxes{
    padding-top: 10px;
}
.inventory_varients_circle_red{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 4px 8px;
    background: #C42E21;
    margin: 2px;
}

.inventory_buttons{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    margin: 20px 100px 20px 0px;
}
.btn{
    width: 76px;
    height: 27px;
    color: #FFFFFF;
    background: #1F553E;
    border-radius: 50px;
    outline: none;
    border: none;
    margin: 5px 10px;
}
.btn:active, .btn_keyword:active{
    background: #FFFFFF;
    color: #1F553E;
    border: 1px solid #1F553E;
}
.btn_keyword{
    width: auto;
    height: 20px;
    color: #FFFFFF;
    background: #1F553E;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 2px 7px;
}
.update_button{
    width: 76px;
    height: 27px;
    background: #FFFFFF;
    border: 1px solid #1F553E;
    box-sizing: border-box;
    border-radius: 50px;
    margin: 5px;
}
.update_button:active{
    background: #1F553E;
    color: #FFFFFF;
    border: 1px solid #1F553E;
}


