.main{
    margin-top: 68px;
    margin-left: 15%;
    padding-left: 30px;
    padding-right: 30px;
}
.nd_card{
    width: 100%;
    height: 97px;
    background: inherit;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-top: none;
    border-radius: 0px 0px 10px 10px;
    padding: 40px;
}
.nd_p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #1F553E;
}