.main{
    margin-top:  5%;
    margin-left: 15%;
    padding-left: 30px;
    padding-right: 30px;
}
.customer_heading{   
    width: 221.88px;
    height: 35px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #1F553E;
    margin-bottom: 10px;

}
.relative{
    position: relative;
    margin: 10px 0px;
}

.absolute{
    position: relative;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 100px;
    background-color: black;
}

.n_row{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.n_inner_row{
    display: flex;
    align-items: center;
}
.n_p{
    height: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #1F553E;
}
.n_date{
    height: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #837F7F;
}
.detail_shown{
    width: 100%;
}
.detail_hide{
    display: none;
}

.n_messages{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 5px 10px;
}
.n_message_circle{
    display: flex;
    justify-content: center;
    padding: 3px;
    border-radius: 50%;
    background-color: #1F553E;
}
.n_icon_btn{
    display: inline-flex;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
    padding-left: 30px;
    padding-right: 10px;
}