.main{
    margin-top: 5%;
    margin-left: 15%;
    padding-left: 30px;
    padding-right: 30px;
}

.heading{   
    width: 221.88px;
    height: 35px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #1F553E;
}

.table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 20px;
}

.tr{
    position: relative;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.th{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #1F553E;
}

.th, .td{
    font-style: normal;
    text-align: center;
}

.th:first-child, .td:first-child{
    border: 1px solid gray;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
}

.th:nth-child(2),
.th:nth-child(3), 
.th:nth-child(4),
.td:nth-child(2),
.td:nth-child(3),
.td:nth-child(4){
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.th:last-child, .td:last-child{
    border: 1px solid gray;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none;
}

.td{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #1F553E;
}

.detail_shown{
    width: 100%;
}

.detail_hide{
    display: none;
}

.status_costumer{
    display: inline-flex;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
}
.status_btn{
    width: 100%;
    height: 27px;
    background: #26A541;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    padding: 7px 25px;
    margin-right: 5px;
    color: #FFFFFF;
    border-radius: 50px;
} 
.status_btn_suspend{
    background: rgb(241, 115, 115) !important;
    padding: 7px 18px !important;
}