.main{
    margin-top: 68px;
    margin-left: 15%;
    padding-left: 30px;
    padding-right: 30px;
}
.main_card{
    position: relative;
    width: 100%;
    min-height: 270px;
    border: 1px solid gray;
    border-spacing: 0px 10px;
    border-radius: 10px;
}
.table{
    position: relative;
    width: 70%;
    border-collapse: separate;
    padding-left: 10px;
    padding-top: 20px;
    border-spacing: 0px 7px;
    border-radius: 10px;
}
.table.scroller {
    width: 70%;  
}
.table.scroller tbody::-webkit-scrollbar {
    width: 5px;
}

.table.scroller tbody::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.table.scroller tbody::-webkit-scrollbar-thumb {
    background: #888; 
}
.table.scroller tbody, .table.scroller thead {
    display: block;
} 
  
.table.scroller tbody {
    min-height: 140px; 
    height: 140px;
    overflow: auto;
}
.starBox{
    display: flex;
    flex-direction: row;
}
.th, .td{
    width: 10%;
    font-style: normal;
    text-align: center;
}

.th{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #1F553E;
}
.td{ 
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #1F553E;
}
.td_not {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}
.th_s_a,.td_s_a{
    text-align: left !important;
    padding-left: 30px !important;
}
.td_s{
    min-width: 22%;
    background: #DAE6DF;
    border-spacing: 5px 10px;
}
.review{
    width: 27%;
    min-height: 220px;
    height: fit-content;
    position: absolute;
    right: 20px;
    top: 20px;
    text-align: center;
    border: 1px solid #1F553E;
    margin-left: 10px;
}
.review_heading{
    padding: 10px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #1F553E;
}
.review_title{
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    padding: 5px 20px;
    color: #1F553E;
}
.review_p{    
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #1F553E;
    padding: 20px;
}
.reject_btn, .approve_btn{
    width: 99px;
    height: 27px;
    color: #FFFFFF;
    background: #1F553E;
    border-radius: 50px;
    outline: none;
    border: none;
    margin: 50px 10px;
}
.reject_btn:active, .approve_btn:active{
    color: #1F553E;
    background-color: #FFFFFF;
    border: 1px solid #1F553E;
}
.customer_btn{
    position: absolute;
    width: 70%;
    display: flex;
    justify-content: center;
    bottom: 5%;
}
.suspend_btn, .activate_btn{
    width: 167px;
    height: 27px;
    color: #FFFFFF;
    background: #1F553E;
    border-radius: 50px;
    outline: none;
    border: none;
    margin: 5px 20px;
    opacity: 1;
}
.suspend_btn:active, .activate_btn:active{
    color: #1F553E;
    background-color: #FFFFFF;
    border: 1px solid #1F553E;
}