.header{
    position: fixed;
    top: 0;
    right: 0;
    width: 85%;
    height: 48px;
    margin-left: 15%;
    background-color: #1F553E;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    z-index: 1;
}

.profile{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 6rem;
}

.profile_circle{
    width: 30px;
    height: 30px;
    padding: 2px;
    border-radius: 50%;
    background-color: #fff;
    margin-left: 50px;
    margin-right: 10px;
}

.profile_name{
    color: #fff;
    font-size: 1.3rem;
}