.sidebar{
    width: 15%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    border: 1px solid #1F553E;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar_logo{
    height: 20vmin;
    pointer-events: none;
}
.li {
    width: 100%;
    height: 40px;
    display: block;
    color: #1F553E;
}
.li:first-child{
    height: 20vmin;
    color: #1F553E !important;
    background-color: #FFFFFF !important;
}
.li a:-webkit-any-link {
    display: block;
    width: 100%;
    height: 40px;
    cursor: pointer;
    padding: 0.6rem 1rem;
    color: #1F553E;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 16px;
    background-color: #FFFFFF;
    border: 1px solid #769486;
    border-right: none;
    text-decoration: none;
}

.li a.active{
    color: #FFFFFF !important;
    background-color: #1F553E !important;
}
.logout {
    display: block;
    width: 100%;
    height: 40px;
    cursor: pointer;
    padding: 0.6rem 1rem;
    color: #1F553E;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 16px;
    background-color: #FFFFFF;
    border: 1px solid #769486;
    border-right: none;
    text-decoration: none;
}
.logout:active{
    color: #FFFFFF !important;
    background-color: #1F553E !important;
}