.main{
    margin-top:  5%;
    margin-left: 15%;
    padding-left: 30px;
    padding-right: 30px;
}
.inventory_heading{   
    width: 221.88px;
    height: 33px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #1F553E;

}

.table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 5px;
}

.tr{
    height: 40px;
    background: #FFFFFF;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.th{
    height: 19px;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    color: #1F553E;
    width: 16%;
}
.td{
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #1F553E;
}
.th, .td{
    font-style: normal;
    text-align: center;
}
.th:first-child, .td:first-child{
    border: 1px solid gray;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
}
.th:nth-child(2),
.th:nth-child(3), 
.th:nth-child(4),
.th:nth-child(5),
.th:nth-child(6),
.td:nth-child(2),
.td:nth-child(3),
.td:nth-child(4),
.td:nth-child(5),
.td:nth-child(6){
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.th:last-child, .td:last-child{
    border: 1px solid gray;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none;
}


.detail_shown{
    width: 100%;
}

.detail_hide{
    display: none;
}
.status_costumer{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
}


