.main{
    margin-top:  5%;
    margin-left: 15%;
    padding-left: 30px;
    padding-right: 30px;
}
.customer_heading{   
    width: 221.88px;
    height: 35px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #1F553E;

}
.seller_heading{
    width: 221.88px;
    height: 35px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #1F553E;
}

.table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 10px;
}

.tr{
    height: 46px;
    background: #FFFFFF;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.c_th{
    height: 16px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #1F553E;
}
.td{
    height: 15px;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #1F553E;
}
.c_th, .td{
    font-style: normal;
    text-align: center;
}
.c_th:first-child, .td:first-child{
    border: 1px solid gray;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
}
.c_th:nth-child(2),
.c_th:nth-child(3), 
.c_th:nth-child(4),
.td:nth-child(2),
.td:nth-child(3),
.td:nth-child(4){
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.c_th:last-child, .td:last-child{
    border: 1px solid gray;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none;
}

.complaints_tr{
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.detail_shown{
    width: 100%;
}
.detail_hide{
    display: none;
}
.status_costumer{
    display: inline-flex;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
}