.main{
    margin-top: 68px;
    margin-left: 15%;
    padding-left: 30px;
    padding-right: 30px;
}
.replyCard{
    display: flex;
    flex-direction: column;
}
.cd_table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 5px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
    padding: 15px;
    border-radius: 10px;
}
.cd_row{
    display: flex;
}
.cd_row_custom{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
}
.cd_box{
    width: 45%;
    height: 166px;
    background: #FFFFFF;
    opacity: 0.8;
    border: 1px solid #c4c4c4;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 10px;
}
.cd_box_2{
    height: 107px;
    background: #FFFFFF;
    padding-left: 10%;
}

.cd_w_20{
    width: 20%;
}
.cd_p_10{
    padding: 10px;
}
.cd_pt{
    padding-top: 10px;
}
.cd_w{
    width: 30%;
    display: block;
}
.cd_th{
    height: 15px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #1F553E;
}
.cd_td{
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #1F553E;
}
.cd_td_light{
    font-size: 15px !important;
    line-height: 16px !important;
}
.cd_th, .cd_td{
    font-style: normal;
    text-align: left;
}
.cd_c{
    text-align: center;
}
.cd_r{
    text-align: right;
}
.cd_td_p{
    padding: 3px;
}
.cd_input_box{
    width: 444px;
    height: 107px;
    opacity: .8;
    border: 1px solid #d1cbcb;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.cd_input{
    padding: 15px;
    outline: none;
    border: none;
}
.cd_input:focus{
    color: #1F553E;
    outline: none;
    border: none;
}
.cd_input::placeholder { 
    height: 15px;
    color: #c4bbbb;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}
.cd_text_underline{
    line-height: 16px !important;
    text-decoration-line: underline;
}
.cd_italic{
    font-style: italic;
}

.cd_description_box{    
    width: 387.2px;
    height: 45px;
    font-size: 14px;
    line-height: 15px;
    margin-top: 20px;
}
.cd_button{
    width: 105px;
    height: 28px;
    padding: 5px;
    background: #FFFFFF;
    border: 1px solid #1F553E;
    color: #1F553E;
    border-radius: 50px;
    margin-left: 10px;
}

.submit_btn:active{
    color: #FFFFFF;
    background: #1F553E;
}