.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 500;
    color: #1F553E;
}
.heading{
    padding-left: 1rem;
    text-transform: uppercase;
}
#input_button[type="button"] {
    width: 100%;
    height: 50px;
    padding: 5px 20px;
    color: #FFFFFF;
    background-color: #1F553E;
    border-radius: 40px;
    border: none;
    outline: none;
}
.btn{
    width: 10%;
    height: 50px;
    padding: 5px;
    color: #FFFFFF;
    background-color: #1F553E;
}
.container{
    width: 100%;
    font-family: 'Nunito';
    font-style: normal;
    text-align: center;
    color: #1F553E;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.oops{
    font-weight: 700;
    font-size: 100px;
    line-height: 136px;
    margin: 1rem 0;
}
.heading{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin: 0.5rem 0 1rem 0;
}
.paragraph{
    width: 600px;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    margin: auto;
}
.backTohome{
    width: 462px;
    height: 46px;
    color: white;
    background: #1F553E;
    border: 1px solid #1F553E;
    border-radius: 50px;
    margin: auto;
    margin-top: 40px;
    border: 1px solid #1F553E;
    outline: none;
}
.backTohome:active{
    color: #1F553E;
    background: white;
    border: 1px solid #1F553E;
    outline: none
}

@media only screen and (max-width: 720px) {
    .container{
        width: 100%;
        font-family: 'Nunito';
        font-style: normal;
        text-align: center;
        color: #1F553E;
        display: flex;
        flex-direction: column;
        padding: 0 1.5rem;
        margin: 0.5rem 0;
    }
    .oops{
        font-family: 'Nunito';
        font-weight: 700;
        font-size: 60px;
        line-height: 96px;
        margin: 0.5rem 0;
    }
    .heading{
        font-family: 'Nunito';
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
    }
    .paragraph{
        width: 100%;
        font-family: "Nunito";
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
    }
    .backTohome{
        width: 100%;
    }
}
